body
{
    background-color: black;
}
header
{
    
    /* margin-left: -8px;
    margin-top: -7px;
    margin-right: -8px; */
    border: 3px solid gold ;
    box-shadow: 5px 10px gold;
    padding: 10px;
    
}
h1
{
    font-size: 3em;
    display: inline-block;
    color: gold;
    font-variant: small-caps;
    padding-left: 40%;

}


#sc
{
    border-width:5px;  
    border-style:double;
    text-align: center;
font-style: italic;
font-size:20px;
margin: 20px;
border-radius: 25px;
letter-spacing: 4px;
color: gold;
padding: 10px;
}
#para
  {
      /* margin-top: 12px; */
  border-width:5px;  
    border-style:double;
text-align: center;
font-style: italic;
font-size:25px;
letter-spacing: 4px;
color: gold;
margin-bottom: 20px;
padding: 5px;
  }
  footer
{
  
  color: gold;
  text-align: center;
  border-color: gold;
    border-width: 4px;
    border-style: ridge;
border-radius: 100px;
    font-family: "Sofia", sans-serif;
    padding: auto;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 30px;
    /* margin-left: -8px;
    margin-right: -8px;
    margin-top: 3px;
    margin-bottom: 3px; */
}